body{
    margin: 0;
    padding: 0 ;
    font-family: 'Roboto', sans-serif;
    background: white;
    box-sizing: border-box;

}

header{
    width: 100%;
    background: #F6B5BF;
    height: 60px;
}

nav{
    float: right;
    padding-right: 60px;
    padding-bottom: 0;
    background: none;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    line-height: 60px;
    font-size: 16px;
    transition: all 1s;
    background: none;
}

nav a:hover{
    background-color: white;
    transition: all 1s;
    border-radius: 10px;
    color: #F6B5BF;
}



.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px;
    background: none;

}

.container .video{
    border: 3px #F6B5BF;
    border-radius: 5px;

}

video:hover{
    transform: scale(1.1);
}

video{
    height: 400px;
    padding: 30px 20px;

}


@media (max-width:1998.98px){

    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px;
        background: none;
    
    }
    
    .container .video{
        border: 3px #F6B5BF;
        border-radius: 5px;
    
    }
    
}


@media (max-width:991.98px){
    
    .container{
        width: 609px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px;
        background: none;
    
    }
    
    .container .video{
        border: 3px #F6B5BF;
        border-radius: 5px;
        width: 500px;
        height: auto;

    }
    
    video{
        width: 367px;
        padding: 20px 20px;
    
    }
}


@media (max-width:600px){
    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 50px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 5px;
        line-height: 60px;
        font-size: 13px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }



    video{
        width: 300px;
        padding: 2px 2px;
        padding-left: 130px;
        padding-bottom: 5px;
    
    }

    .container{
        width: 436px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px;
        background: none;
    
    }
}

@media (max-width:401px){
    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 20px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 3px;
        line-height: 60px;
        font-size: 11px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }

    video{
        width: 300px;
        padding: 2px 2px;
        padding-left: 50px;
        padding-bottom: 5px;

    
    }

    .container{
        width: 294px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 5px 10px;
        background: none;
    
    }
}