body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: url(img/fondor2.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

header{
    width: 100%;
    background: #F6B5BF;
    height: 60px;
}

nav{
    float: right;
    padding-right: 60px;
    padding-bottom: 0;
    background: none;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    line-height: 60px;
    font-size: 16px;
    transition: all 1s;
    background: none;
}

nav a:hover{
    background-color: white;
    transition: all 1s;
    border-radius: 10px;
    color: #F6B5BF;
}

.half{
    background: none;
}

.half img{
    position: fixed;
    right: 95px;
    top: 90px;
    height: 600px;
    width: auto;
}

p{
    position: fixed;
    left: 30px;
    top: 170px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 45%;
    text-align: center;
    font-size: 22px;

}

.programas img{
    width: 50px;
    height: auto;
    padding: 0 5px;
}

.programas{
   padding-top: 10px;
   padding-left: 150px;
}

h1{
    color: #B8E1FF;
    font-family: 'Roboto', sans-serif;
    width: 45%;
    text-align: center;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 400px;
    padding-bottom: 0px;
}

.avion{
    width: 45%;
    height: auto;
    padding-left: 800px;
}

h4{
    position: fixed;
    left: 220px;
    top: 210px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 45%;
    text-align: left;
    font-size: 40px;
    background: none;
}

h5{
    position: fixed;
    left: 220px;
    top: 280px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 45%;
    text-align: left;
    font-size: 40px;
    background: none;
}

h6{
    position: fixed;
    left: 220px;
    top: 330px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 45%;
    text-align: left;
    font-size: 40px;
    background: none;
}


@media (max-width:1198.98px){

    .programas{
        padding-top: 10px;
        padding-left: 15px;
        width: 50%;
     }

    .programas img{
        width: 50px;
        height: auto;
        padding: 0 5px;

    
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: fixed;
        right: 95px;
        top: 90px;
        height: 600px;
        width: auto;
    }
    
    p{
        position: fixed;
        left: 30px;
        top: 170px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 40%;
        text-align: center;
        font-size: 19px;
    
    }
}


@media (max-width:991.98px){
    
    .programas{
        padding-top: 10px;
        padding-left: 256px;
        width: 70%;
        position: absolute;
        top: 347px;
     }

    .programas img{
        width: 50px;
        height: auto;
        padding: 0 5px;
        
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: relative;
        left: 226px;
        top: 407px;
        height: 600px;
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    p{
        position: absolute;
        left: 80px;
        top: 90px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 80%;
        text-align: center;
        font-size: 19px;
    
    }

    h1{
        color: #B8E1FF;
        font-family: 'Roboto', sans-serif;
        width: 45%;
        text-align: center;
        font-size: 22px;
        padding-top: 0px;
        position: relative;
        left: 245px;
        bottom: 416px;

    }
    

}


@media (max-width:600px){
    .programas{
        padding-top: 10px;
        padding-left: 130px;
        width: 50%;
        position: absolute;
        top: 500px;
     }

    .programas img{
        width: 50px;
        height: auto;
        padding: 0 5px;
        
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: relative;
        left: 55px;
        top: 650px;
        height: 400px;
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    p{
        position: absolute;
        left: 50px;
        top: 90px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 80%;
        text-align: center;
        font-size: 19px;
    
    }

    h1{
        color: #B8E1FF;
        font-family: 'Roboto', sans-serif;
        width: 85%;
        text-align: center;
        font-size: 22px;
        position: absolute;
        bottom: 200px;
        padding-top: 0px;
        left: 15px;
    }

    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 50px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 5px;
        line-height: 60px;
        font-size: 13px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }
    
}

@media (max-width:452px){
    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 20px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 3px;
        line-height: 60px;
        font-size: 11px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }

    .programas{
        padding-top: 70px;
        padding-left: 80px;
        width: 60%;
        position: absolute;
        top: 500px;
     }

    .programas img{
        width: 40px;
        height: auto;
        padding: 0 5px;
        
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: relative;
        left: 95px;
        top: 650px;
        height: 300px;
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    p{
        position: absolute;
        left: 40px;
        top: 90px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 80%;
        text-align: center;
        font-size: 19px;
    
    }

    h1{
        color: #B8E1FF;
        font-family: 'Roboto', sans-serif;
        width: 85%;
        text-align: center;
        font-size: 22px;
        position: relative;
        bottom: -88px;
        padding-top: 0px;
        left: 15px;
    }

}

@media (max-width:372px){

    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 20px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 3px;
        line-height: 60px;
        font-size: 11px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }

    .programas{
        padding-top: 70px;
        padding-left: 80px;
        width: 60%;
        position: absolute;
        top: 500px;
     }

    .programas img{
        width: 40px;
        height: auto;
        padding: 0 5px;
        
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: relative;
        left: 55px;
        top: 650px;
        height: 300px;
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    p{
        position: absolute;
        left: 40px;
        top: 90px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 80%;
        text-align: center;
        font-size: 19px;
    
    }

    h1{
        color: #B8E1FF;
        font-family: 'Roboto', sans-serif;
        width: 85%;
        text-align: center;
        font-size: 22px;
        position: relative;
        bottom: -99px;
        padding-top: 0px;
        left: 15px;
    }

}


@media (max-width:345px){

    nav{
        float: right;
        padding-bottom: 0;
        background: none;
        padding-right: 20px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        padding: 0 3px;
        line-height: 60px;
        font-size: 11px;
        transition: all 1s;
        background: none;
    }
    
    nav a:hover{
        background-color: white;
        transition: all 1s;
        border-radius: 10px;
        color: #F6B5BF;
    }

    .programas{
        padding-top: 70px;
        padding-left: 80px;
        width: 60%;
        position: absolute;
        top: 500px;
     }

    .programas img{
        width: 40px;
        height: auto;
        padding: 0 5px;
        
    }

    body{
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-image: none;
    }

    .half img{
        position: relative;
        left: 55px;
        top: 650px;
        height: 300px;
        width: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    p{
        position: absolute;
        left: 40px;
        top: 90px;
        font-family: 'Roboto', sans-serif;
        color: #F6B5BF;
        width: 80%;
        text-align: center;
        font-size: 19px;
    
    }

    h1{
        color: #B8E1FF;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        text-align: center;
        font-size: 22px;
        position: absolute;
        bottom: 160px;
        padding-top: 0px;
        left: 15px;
    }

}